@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int currentHour = DateTime.Now.Hour;
}

<h1>
    @if (currentHour > 11)
    {
        <p>Good Afternoon</p>
    }
    else
    {
        @currentHour <text>Good Morning</text>
    }
</h1>

<p>mgattuso@uc.edu</p>